<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Study_homepage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <!-- <welcome-file>/home/index.jsp</welcome-file> -->
  </welcome-file-list>
  
  <context-param>
		<param-name>OracleDriver</param-name>
		<param-value>oracle.jdbc.OracleDriver</param-value>
	</context-param>
	<context-param>
		<param-name>OracleURL</param-name>
		<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
	</context-param>
	<context-param>
		<param-name>OracleId</param-name>
		<param-value>hr</param-value>
	</context-param>
	<context-param>
		<param-name>OraclePwd</param-name>
		<param-value>1234</param-value>
	</context-param>
  
  	<!-- 인코딩 -->
	<filter>
		<filter-name>SetCharEncoding</filter-name>
		<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SetCharEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  
  	<!-- 메인서블릿 -->
	<!--
	<servlet-name> 임의의 이름을 만들어 줍니다.
	<servlet-class> 매핑할 클래스 파일명을 패키지명을 포함하여 입력 
	<url-pattern> servlet-class의 클래스를 매핑할 임의의 이름을 입력 합니다.
	주위할 점은 '/'로 시작해야 합니다.
	-->

	<!--서블릿등록-->
  
  	<servlet>
		<servlet-name>home</servlet-name>
		<servlet-class>com.controller.home.HomeController</servlet-class>
	</servlet> 

	<!--
	서블릿 내부명과 URL 명과의 매핑정보
	-->
		
	<servlet-mapping>
		<servlet-name>home</servlet-name>
		<url-pattern>/index.do</url-pattern>
	</servlet-mapping> 
	
	<!-- 파일용량 설정 -->
	<context-param>
		<param-name>maxPostSize</param-name>
		<param-value>1024000</param-value>
	</context-param>
	
		<!-- 전역변수 개념처럼 됨, 컨텍스트 초기화 파라미터(매개변수) -->
	<context-param>
		<param-name>INIT_PARAM</param-name>
		<param-value>web.xml에 저장한 초기화 매개변수</param-value>
	</context-param>
	
</web-app>