<!--템플릿 상속-->
{% extends 'basic.html' %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Books Application site{% endblock %}</title>
</head>
<body>
    {% block sidebar %}
    <!-- 부모인 basic.html에 정의한 것을 하위에 재사용함 -->
    {{ block.super }}

    <ol>
        <li><a href="/books/">Books Home</a></li>
    </ol>
</body>
</html>
{% endblock %}