/*ticket*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


div.containers {
	max-width: 1350px;
	margin: 0 auto;
	overflow: hidden
}

.upcomming {
	font-size: 45px;
	text-transform: uppercase;
	border-left: 14px solid rgba(255, 235, 59, 0.78);
	padding-left: 12px;
	margin: 18px 8px;
}

.containers .item {
	width: 48%;
	float: left;
	padding: 0 20px;
	background: #ccc;
	overflow: hidden;
	margin: 10px
}

.containers .item-right, .containers .item-left {
	float: left;
	padding: 20px
}

.containers .item-right {
	padding: 79px 50px;
	margin-right: 20px;
	width: 25%;
	position: relative;
	height: 286px
}

.containers .item-right .up-border, .containers .item-right .down-border {
	padding: 14px 15px;
	background-color: #ddd;
	border-radius: 50%;
	position: absolute
}

.containers .item-right .up-border {
	top: -8px;
	right: -35px;
}

.containers .item-right .down-border {
	bottom: -13px;
	right: -35px;
}

.containers .item-right .num {
	font-size: 60px;
	text-align: center;
	color: #111
}

.containers .item-right .day, .containers .item-left .event {
	color: #555;
	font-size: 20px;
	margin-bottom: 9px;
}

.containers .item-right .day {
	text-align: center;
	font-size: 25px;
}

.containers .item-left {
	width: 100%;
	padding: 34px 0px 19px 46px;
	border-top: 3px dotted #999;
	background: rgba(0, 0, 0, 0.3);
}

.containers .item-left .title {
	color: #fff;
	font-size: 34px;
	margin-bottom: 12px
}

.containers .item-left .sce {
	margin-top: 5px;
	display: block
}

.containers .item-left .sce .icon, .containers .item-left .sce p,
	.containers .item-left .loc .icon, .containers .item-left .loc p {
	float: left;
	word-spacing: 5px;
	letter-spacing: 1px;
	color: #fff;
	margin-bottom: 10px;
}

.containers .item-left .sce .icon, .containers .item-left .loc .icon {
	margin-right: 10px;
	font-size: 20px;
	color: #666
}

.containers .item-left .loc {
	display: block
}

.fix {
	clear: both
}

.containers .item .tickets, .booked, .cancel {
	color: #fff;
	padding: 6px 14px;
	float: right;
	margin-top: 10px;
	font-size: 18px;
	border: none;
	cursor: pointer
}

.containers .item .tickets {
	background: #777
}

.containers .item .booked {
	background: #3D71E9
}

.containers .item .cancel {
	background: #DF5454
}

.linethrough {
	text-decoration: line-through
}

@media only screen and (max-width: 1150px) {
	.containers .item {
		width: 100%;
		margin-right: 20px
	}
	div.containers {
		margin: 0 20px auto
	}
}
